<header class="main-header">
  <div class="main-header-left">
    <a href="/" class="brand-name">Adam Gardefjord</a>
  </div>
  <nav class="main-header-right">
    <ul class="nav-list">
      <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Work</a></li>
      <li><a href="/about" class="{% if page.url == '/about/' %}active{% endif %}">About</a></li>
      <li><a href="/contact" class="{% if page.url == '/contact/' %}active{% endif %}">Contact</a></li>
    </ul>
  </nav>
</header>