@use "sass:math";
@use "sass:color";

// Variables
$base-font-family: Trebuchet, Arial, Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   20px !default;
$base-font-weight: 700 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     40px !default;

$text-color:       #000275 !default;
$background-color: #f2f5ee !default;
$brand-color:      #00014E !default;

$grey-color:       #828282 !default;
// $grey-color-light: color.scale($grey-color, $lightness: 40%) !default;
// $grey-color-dark: color.scale($grey-color, $lightness: -25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    900px !default;

$handheld:         400px !default;
$on-laptop:        800px !default;
/* Basic Reset */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

@charset "utf-8";

// Ensure font sizes, spacings, and colors use variables
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Headings */
h1 {
  font-size: math.div($base-font-size, 0.8); /* 25% larger */
  font-weight: $base-font-weight;
  color: $brand-color; /* Use brand color for main headings */
}

h2, h3 {
  font-size: math.div($base-font-size, 0.9);
  font-weight: 300;
}

h4, h5, h6 {
  font-size: math.div($base-font-size, 1.2);
}

/* Links */
a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 2px solid color.scale($text-color, $alpha: -50%); /* Subtle underline */
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    color: $brand-color;
    border-bottom-color: $brand-color;
  }
}

/* Layout & Spacing */
main {
  padding: math.div($spacing-unit, 2) $spacing-unit;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  margin-bottom: math.div($spacing-unit, 4);

  > ul, > ol {
    margin-bottom: 0;
  }
}

/* Icons */
.svg-icon {
  fill: $brand-color;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* Media Queries */
@mixin media-query($breakpoint) {
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}

@include media-query($on-laptop) {
  body {
    font-size: math.div($base-font-size, 1.1);
  }
}

@include media-query($handheld) {
  h1 {
    font-size: math.div($base-font-size, 0.9); /* Smaller on mobile */
  }
}