@use "sass:color";
@use "sass:math";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Trebuchet, Arial, Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   20px !default;
$base-font-weight: 700 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     40px !default;

$text-color:       #000275 !default;
$background-color: #ffb8b8 !default;
$brand-color:      #00014E !default;

$grey-color:       #828282 !default;
// $grey-color-light: color.scale($grey-color, $lightness: 40%) !default;
// $grey-color-dark: color.scale($grey-color, $lightness: -25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    900px !default;

$handheld:         400px !default;
$on-laptop:        800px !default;


/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
  @include media-query($handheld) {
      font-size: 1em;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: math.div($spacing-unit, 2);
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1 {
  line-height: 1.1em;
  font-size: 3em;
}
h1, h4, h5, h6 {
  font-weight: $base-font-weight;
}
h2, h3 {
  font-weight: 300;
}

/**
 * Links
 */
a {
  color: $text-color;
  border-bottom: 2px solid rgba($text-color, 0.1);
  text-decoration: none;
  transition: 0.5s;
  padding-bottom: 1px;

  &:hover {
    color: $text-color;
    border-bottom: 2px solid;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: math.div($spacing-unit, 2);
    padding-left: math.div($spacing-unit, 2);
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

