@use "base" as *;

.main-header {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the header spans the full width */
  max-width: $max-width;
  margin: 0 auto;
  padding: calc(#{$spacing-unit}*2) calc(#{$spacing-unit} / 2);
  background-color: $background-color;
  box-sizing: border-box; /* Ensure padding is included in width */

  .main-header-left {
    flex: 1; /* Pushes this to the far left */
    text-align: left;
    display: flex;
    align-items: center;
    gap: calc(#{$spacing-unit} / 4);

    #theme-toggle {
      padding: 0;
      margin: 0;
    }

    .brand-name {
      font-family: $font-header;
      font-size: $font-size-h2;
      font-weight: $font-weight-bold;
      color: $brand-color;
      text-decoration: none;
    }
  }

  .main-header-right {
    flex: 1; /* Pushes this to the far right */
    text-align: right;

    .nav-list {
      list-style: none;
      display: flex;
      justify-content: flex-end; /* Aligns the menu items to the right */
      gap: calc(#{$spacing-unit} / 2); /* Adds spacing between menu items */
      margin: 0;
      padding: 0;

      li {
        a {
          font-family: $font-header;
          font-size: $font-size-h2;
          font-weight: $font-weight-normal;
          color: $text-color;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: $brand-color;
          }
          &.active {
            text-decoration: underline; /* Optional for emphasis */
          }
        }
      }
    }
  }
}

/* Responsive Styles for Smaller Screens */
@include media-query($handheld) {
  .main-header {
    flex-direction: column; /* Stack brand and menu vertically on small screens */
    align-items: center; /* Center items */
    text-align: center;
    padding: $spacing-unit;

    .main-header-left {
      text-align: center;
    }
    .main-header-right {
      margin-top: $spacing-unit;

      .nav-list {
        flex-direction: column; /* Stack menu items vertically */
        align-items: center;
        gap: calc(#{$spacing-unit} / 4);
      }
    }
  }
  .main-header .nav-list a.active {
    text-decoration: underline;
  }
}

.theme-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  
  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
    color: $text-color;
  }
}

.theme-toggle-dark-icon {
  opacity: 1;
}

.theme-toggle-light-icon {
  opacity: 0;
  color: white;
}

[data-theme="dark"] {
  .theme-toggle-dark-icon {
    opacity: 0;
  }
  
  .theme-toggle-light-icon {
    opacity: 1;
  }
}