@use "base";

.main-header {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the header spans the full width */
  max-width: base.$max-width;
  margin: 0 auto;
  padding: calc(#{base.$spacing-unit}*2) calc(#{base.$spacing-unit} / 2);
  background-color: base.$background-color;
  box-sizing: border-box; /* Ensure padding is included in width */

  .main-header-left {
    flex: 1; /* Pushes this to the far left */
    text-align: left;
    display: flex;
    align-items: center;
    gap: calc(#{base.$spacing-unit} / 4);

    #theme-toggle {
      padding: 0;
      margin: 0;
    }

    .brand-name {
      font-family: base.$font-header;
      font-size: base.$font-size-h2;
      font-weight: base.$font-weight-bold;
      color: base.$brand-color;
      text-decoration: none;
    }
  }

  .main-header-right {
    flex: 1; /* Pushes this to the far right */
    text-align: right;

    .nav-list {
      list-style: none;
      display: flex;
      justify-content: flex-end; /* Aligns the menu items to the right */
      gap: calc(#{base.$spacing-unit} / 2); /* Adds spacing between menu items */
      margin: 0;
      padding: 0;

      li {
        a {
          font-family: base.$font-header;
          font-size: base.$font-size-h2;
          font-weight: base.$font-weight-normal;
          color: base.$text-color;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: base.$brand-color;
          }
          &.active {
            text-decoration: underline; /* Optional for emphasis */
          }
        }
      }
    }
  }
}

/* Responsive Styles for Smaller Screens */
@include base.media-query(base.$on-laptop) {
  .main-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: calc(#{base.$spacing-unit}) calc(#{base.$spacing-unit} / 2);

    .main-header-left {
      flex-direction: column;
      text-align: center;
      gap: base.$spacing-unit;
      margin-bottom: calc(#{base.$spacing-unit} / 4);

      .brand-name {
        margin-bottom: 0;
        order: 2;
      }

      #theme-toggle {
        margin: 0 auto;
        order: 1;
      }
    }

    .main-header-right {
      width: 100%;
      text-align: center;

      .nav-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: calc(#{base.$spacing-unit} / 2);
      }
    }
  }
  .main-header .nav-list a.active {
    text-decoration: underline;
  }
}

.theme-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  top: -1px;
  
  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
    color: base.$text-color;
  }
}

.theme-toggle-dark-icon {
  opacity: 1;
}

.theme-toggle-light-icon {
  opacity: 0;
  color: white;
}

[data-theme="dark"] {
  .theme-toggle-dark-icon {
    opacity: 0;
  }
  
  .theme-toggle-light-icon {
    opacity: 1;
  }
}