@use "base" as *;

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-unit*2;
  margin: 0 auto;
  max-width: $max-width;

  @include media-query(1200px) { 
    gap: $spacing-unit * 1.5; /* Smaller gap for medium-large screens */
  }

  @include media-query($on-laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-unit; /* Reduce gap for laptop screens */
  }

  @include media-query(600px) {
    grid-template-columns: 1fr;
    row-gap: calc(#{$spacing-unit}); /* Larger distance between rows */
    column-gap: calc(#{$spacing-unit} / 2); /* Smaller distance between columns */
  }

  @include media-query($handheld) {
    row-gap: calc(#{$spacing-unit}); /* Minimal gap for very small screens */
  }
}

.portfolio-item {
  text-align: center;
  cursor: pointer;

  a {
    text-decoration: none;
    display: block;
    border: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image looks good in a grid */

  }

  h3 {
    color: $text-color; /* Inherits from global styles */
    text-align: left;
  }
  h4 {
    color: $text-color; /* Inherits from global styles */
    text-align: left;
  }
}