@use "base" as *;

.site-header {
  text-align: center;
  background-color: $background-color;
  color: $text-color;
  padding: $spacing-unit;

  .site-title {
    @extend .h1;
    color: $brand-color;
  }

  .site-subtitle {
    @extend .h2;
    color: $grey-color;
  }
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  @include media-query($on-laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-query($handheld) {
    grid-template-columns: 1fr;
  }
}

.portfolio-item {
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $brand-color;
  }

  a {
    text-decoration: none;
    display: block;
    border: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    @extend .h3;
    color: $text-color;

  }
}