

/**
 * Page content
 */
.page-content {
  padding-top: 4em;
  padding-bottom: 40px;
  transition: all 0.2s ease-in-out;

  p {
    font-weight: 300;
  }
  ul {
    margin-left: 0px;
    list-style: none;

    em {
      display: block;
      font-style: normal;
      font-weight: 600;
    }
  }

}
