@use "base" as *;

.project-detail {
  max-width: $max-width;
  margin: 0 auto;
  padding: $spacing-unit;

  /* Hero Section */
  .project-hero {
    margin-bottom: $spacing-unit * 2;

    .project-hero-image-container {
      margin-bottom: $spacing-unit;

      img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .project-hero-content {
      text-align: center;

      h1 {
        margin-bottom: calc(#{$spacing-unit} / 2);
        color: $brand-color; /* No need to redefine font-family/size */
      }

      .project-description {
        margin: 0 auto;
        max-width: 600px;
        color: $text-color;
      }
    }
  }
  /* Project Content */
  .project-content {
    margin-top: $spacing-unit * 2;
    
    .project-subtitle {
      padding-left: 6px;
      border-left: 3px solid $brand-color;
    }

    h2 {
      color: $brand-color; /* Specific to project content */
      margin-bottom: calc(#{$spacing-unit} / 2);
    }

    ul, ol {
      margin-left: $spacing-unit;
      list-style-position: inside;
      list-style-type: disc;

      li {
        margin-bottom: calc(#{$spacing-unit} / 2);
      }
    }

    img {
      display: block;
      margin: $spacing-unit auto;
      max-width: 100%;
      border-radius: 8px;
    }
  }

}