@use "base" as *;

.project-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: $spacing-unit;

  /* Hero Section */
  .project-hero {
    margin-bottom: $spacing-unit * 2;

    &-image-container {
      margin-bottom: $spacing-unit;
      img {
        width: 100%;
      }
    }

    &-content {
      text-align: center;

      h1 {
        @extend .h1;
        margin-bottom: calc(#{$spacing-unit} / 2);
        color: $brand-color;
      }

      .project-description {
        @extend .body-regular;
        margin: 0 auto;
        max-width: 600px;
        color: $text-color;
      }
    }
  }

  /* Project Content */
  .project-content {
    margin-top: $spacing-unit * 2;
    line-height: $base-line-height;

    h2 {
      @extend .h2;
      color: $brand-color;
      margin-bottom: calc(#{$spacing-unit} / 2);
    }

    p {
      @extend .body-regular;
      margin-bottom: $spacing-unit;
    }

    ul, ol {
      margin-left: $spacing-unit;
      list-style-position: inside;
      list-style-type: disc;

      li {
        margin-bottom: calc(#{$spacing-unit} / 2);
      }
    }

    img {
      display: block;
      margin: $spacing-unit auto;
      max-width: 100%;
    }
  }
}