*---
layout: default
---

<div class="home">

  {{ content }}
  
  {% for post in site.tags.project %}
    <div class="post">
      
        <h2 class="post-headline">
            {{ post.title | escape }}
        </h2>
        <p class="post-description">{{ post.description }}<br /><span class="post-dates">[{{ post.when_it_happened }}]</span></p>
        <div class="post-read-more">
          <a class="post-link" href="{{ post.url | relative_url }}">Read more</a> 
        </div>
      
    </div>
    {% endfor %}

  
  
</div>
